@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(250, 253, 254, 1);
  color: rgba(33, 38, 49, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #fff;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 32px;
  background: #fff;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(9, 27, 51, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 50px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 704px;

  padding: 152px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Frame\ 15.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Righteous;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(180deg, #091b33 0%, #0a346b 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.home-title-texts {
  margin: 8px auto;
  width: 38px;
  height: 4px;
  background: rgba(9, 27, 51, 1);
}
.home-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 32px 0 40px;
}
.home-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: auto;
    background-image: none;
    padding: 224px 0px 0 160px;

    margin: auto;
  }

  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .home-title {
    font-family: Righteous;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-title-texts {
    display: none;
  }
  .home-text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 548px;

    padding: 19px 0 108px;
  }
  .home-img {
    display: flex;
    margin-left: 530px;
    margin-top: -220px;
  }
}
.why {
  width: 375px;

  margin: auto;
  padding: 40px 16px 0;
}

.why-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.why-item {
  width: 343px;
  height: 316px;
  padding: 32px;
  border-radius: 24px;
  border: 4px;
  background: rgba(255, 255, 255, 1);
  border: 4px solid rgba(239, 241, 247, 1);
}
.why-img {
  margin: auto;
}
.why-text-bold {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 32px 0 8px;
}
.why-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}
.why-image {
  width: 295px;
  height: 310px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;

    margin: auto;
    padding: 64px 12px 0 160px;
  }
  .why-container {
    display: flex;
    gap: 200px;
    align-items: end;
  }
  .why-list {
    padding-top: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 548px;
    margin-bottom: 72px;
  }
  .why-item {
    width: 274px;
    height: 340px;
    border-radius: 24px 0px 0px 0px;
  }
  .why-item-two {
    width: 548px;
    height: auto;

    border-radius: 0px 0px 24px 24px;
  }
  .why-item-three {
    border-radius: 0px 24px 0px 0px;
  }
  .why-img {
    margin: auto;
  }

  .why-image {
    width: 505px;
    height: 532px;

    margin: 0;
  }
}

.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Righteous;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  background: linear-gradient(180deg, #091b33 0%, #0a346b 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.about-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0px 0;
}
.about-text-bold {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 128px 446px 64px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    font-family: Righteous;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 40px 0 0;
  }
  .about-text-bold {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.how {
  width: 375px;

  margin: auto;
  padding: 40px 16px;
}

.how-list {
  padding-top: 40px;
  padding-bottom: 16px;
}
.how-item {
  width: 262px;
  height: 324px;

  padding: 24px;
}
.how-img {
  margin: auto;
}
.how-text-bold {
  padding: 32px 0 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 38, 49, 1);
}
.how-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}
.how-image {
  width: 205px;
  height: 342px;
  margin: auto;
  margin-top: 20px;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 64px 69px;
  }

  .how-list {
    padding-top: 40px;
    padding-bottom: 16px;
    width: 900px;
  }

  .how-image {
    width: 335px;
    height: 560px;

    margin: 0;
  }
  .about-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 42px;
  }
}

.characters {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
.characters-item {
  background: rgba(255, 255, 255, 1);
  border: 4px solid rgba(239, 241, 247, 1);
  width: 343px;
  height: 418px;
  padding: 32px 40px 32px 40px;
  border-radius: 24px;
  border: 4px;
}
.characters-img {
  margin: auto;
}
.characters-text-bold {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 32px 0 16px;
}
.characters-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
}

@media screen and (min-width: 1200px) {
  .characters {
    padding: 64px 160px;
    margin: auto;
    width: 1440px;
  }
  .characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
  }
  .characters-item {
    width: 560px;
    height: 400px;
    padding: 24px 40px;
  }
}

.features {
  width: 375px;

  margin: auto;
  padding: 40px 16px;
}

.features-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.features-item {
  display: flex;

  gap: 16px;
  align-items: start;
}

.features-text-bold {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.features-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(70, 78, 98, 1);
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;

    margin: auto;
    padding: 64px 255px;
  }

  .features-list {
    padding-top: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;

    gap: 32px;
  }
  .features-item {
    display: flex;
    width: 548px;
    margin: auto;
    gap: 24px;
    align-items: start;
  }
}
.footer {
  background: rgba(9, 27, 51, 1);

  color: #ffffff;
  padding: 40px 0px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer-container-text {
  font-family: Righteous;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footer-container-texts {
  width: 40px;
  height: 5px;
  background: rgba(255, 255, 255, 1);
  margin: 8px auto;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.footer-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px 16px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 152px 16px 140px;
}
.policy-terms-title {
  font-family: Righteous;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(180deg, #091b33 0%, #0a346b 100%);

  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 192px 160px 80px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Righteous;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
